<!-- <router-outlet></router-outlet> -->

<!-- Header section -->
<header>
  <div class="user">
    <img src="assets/img/iim.jpg" alt="" />
    <h3 class="name">Patricio Erazo Fuel</h3>
    <p class="post">Developer - Ethical hacker Jr. - Pentester Jr.</p>
  </div>

  <nav class="navbar">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
<!-- END Header section -->

<div id="menu" class="fas fa-bars"></div>

<!-- Section Home -->
<section class="home" id="home">
  <h3>Hi There</h3>
  <h1>I'm <span>Patricio Erazo Fuel</span></h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem minima
    officiis reprehenderit corrupti cupiditate ab dolore. Natus, optio beatae.
    Tenetur officiis illo assumenda quas aut molestias dignissimos hic natus
    numquam.
  </p>
  <a href="#about"
    ><button class="btn">About me <i class="fas fa-user"></i></button
  ></a>
</section>
<!-- END Section Home -->

<!-- Section About -->
<section class="about" id="about">
  <h1 class="heading"><span>About</span> me</h1>
  <div class="row">
    <div class="info">
      <h3><span>Name: </span>Jonathan Patricio Erazo Fuel</h3>
      <h3><span>Age: </span>27</h3>
      <h3><span>Qualification: </span>Engineer</h3>
      <h3><span>Job: </span>WebApp Developer</h3>
      <h3><span>Languages: </span>Spanish - Native | English - Intermediate</h3>
      <a href=""
        ><button class="btn">Download CV <i class="fas fa-download"></i></button
      ></a>
    </div>
    <div class="counter">
      <div class="box">
        <span>2+</span>
        <h3>years of experience</h3>
      </div>
      <div class="box">
        <span>100+</span>
        <h3>proyect completed</h3>
      </div>
      <div class="box">
        <span>400</span>
        <h3>happy clients</h3>
      </div>
      <div class="box">
        <span>12</span>
        <h3>awards won</h3>
      </div>
    </div>
  </div>
</section>
<!-- END Section About -->

<!-- Section Education -->
<section class="education" id="education">
  <h1 class="heading">my <span>education</span></h1>
  <div class="box-container">
    <div class="box">
      <i class="fas fa-graduation-cap"></i>
      <span>2016</span>
      <h3>front end developer</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        excepturi id error quam ipsum, quasi dicta corporis voluptate
        voluptatibus numquam culpa veritatis ab vero autem sit animi in
        voluptates consectetur.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-graduation-cap"></i>
      <span>2016</span>
      <h3>front end developer</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        excepturi id error quam ipsum, quasi dicta corporis voluptate
        voluptatibus numquam culpa veritatis ab vero autem sit animi in
        voluptates consectetur.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-graduation-cap"></i>
      <span>2016</span>
      <h3>front end developer</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        excepturi id error quam ipsum, quasi dicta corporis voluptate
        voluptatibus numquam culpa veritatis ab vero autem sit animi in
        voluptates consectetur.
      </p>
    </div>
    <div class="box">
      <i class="fas fa-graduation-cap"></i>
      <span>2016</span>
      <h3>front end developer</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
        excepturi id error quam ipsum, quasi dicta corporis voluptate
        voluptatibus numquam culpa veritatis ab vero autem sit animi in
        voluptates consectetur.
      </p>
    </div>
  </div>
</section>
<!-- END Section Education -->

<!-- Portfolio section -->
<section class="portfolio" id="portfolio">
  <h1 class="heading">my <span>portfolio</span></h1>
  <div class="box-container">
    <div class="box">
      <img src="assets/img/-eh-.png" alt="" />
    </div>
    <div class="box">
      <img src="assets/img/-eh-.png" alt="" />
    </div>
    <div class="box">
      <img src="assets/img/-eh-.png" alt="" />
    </div>
    <div class="box">
      <img src="assets/img/-eh-.png" alt="" />
    </div>
    <div class="box">
      <img src="assets/img/-eh-.png" alt="" />
    </div>
    <div class="box">
      <img src="assets/img/-eh-.png" alt="" />
    </div>
  </div>
</section>
<!-- END Portfolio section -->

<!-- Contact section -->
<section class="contact" id="contact">
  <h1 class="heading"><span>contact</span> me</h1>
  <div class="row">
    <div class="content">
      <h3 class="title">Contact info</h3>
      <div class="info">
        <h3><i class="fas fa-envelope"></i>jpatto_8@hotmail.com</h3>
        <h3><i class="fas fa-phone"></i>+593 993 612 753</h3>
        <h3><i class="fas fa-envelope"></i>pattoerazo8@gmail.com</h3>
        <h3><i class="fas fa-map-marker-alt"></i>Quito, Ecuador</h3>
      </div>
    </div>
    <form action="">
      <input type="text" placeholder="Name" class="box" />
      <input type="email" placeholder="Email" class="box" />
      <input type="text" placeholder="Project" class="box" />
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        class="box message"
        placeholder="Message"
      ></textarea>
      <button type="submit" class="btn">
        SEND <i class="fas fa-paper-plane"></i>
      </button>
    </form>
  </div>
</section>
<!-- END Contact section -->

<a href="#home" class="top">
  <img src="assets/img/fl.png" alt="" />
</a>

